.nav a{
    text-decoration: none;
     padding-left: 30px;
     font-size: 25px;
     color: white;
}
html{
    scroll-behavior: smooth;
}
.nav{
    text-align: right;
}

html {
  scroll-behavior: smooth;
}
#home{
    margin-left: 300px;
    margin-top: 100px;
}
#home p{
    font-size: 25px;
}

#about h1{
    text-align: center;
}
#about p{
    margin-left: 300px;
    font-size: 25px;
}
#skill h1{
    text-align: center;
}
#skill ul{
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    border:2px solid white;
    padding: 50px;
    width: 35%;
    margin: auto;
    text-align: center;

}
#goal h1{
    margin-top: 50px;
    text-align: center;
}
#goal p{
    margin-left: 300px;
    font-size: 25px;
}
#contact h1{
    text-align: center;
}
#contact p{
    margin-left: 300px;
    font-size: 25px;
}
#contact form{
    text-align: center;
}
#contact form input{
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    background-color: rgba(255,255,255,0.1); 
    color: white; 
    padding:10px; 
    border:1px solid white; 
    border-radius:8px;
}
#contact form textarea{
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    background-color: rgba(255,255,255,0.1); 
    color: white; 
    padding:10px; 
    border:1px solid white; 
    border-radius:8px;
}
#contact form button{
    border-radius: 10px;
    text-align: center;
    background-color: green;
    font-weight: bold;
    margin-top: 15px;
    background-color: rgba(255,255,255,0.1); 
    color: white; 
    padding:10px; 
    border:1px solid white; 
    border-radius:8px;
    transition: 0.3s;
}
#contact form button:hover{
   background-color: #00bcd4;
    color: black;
    box-shadow: 0 0 20px #00bcd4
}

.style{
    font-size: 25px;
}
.style img{
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
.style img:hover{
    background-color:cyan;
    box-shadow: 0 0 20px cyan;
}

body {
    background-color: black;
    color: white;
}

h1 {
    color: #00bcd4;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #00bcd4;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 20px #00bcd4;
}
